@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    color: #cac7c4;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

body > * {
    transition: all 0.3s ease ;
}

a {
    color: #cac7c4;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 3px;
}

a:hover {
    border-bottom: 2px solid #5f5d53;
}

/* Terminal <span> stylings starts */

.t-thin {
    font-weight: 300;
}

.t-bold {
    font-weight: 600;
}

/* Terminal <span> stylings ends */

#header {
    background-image: linear-gradient(#5f5d53, #42413c);
    color: #f0e9e9;
    text-shadow: 1px 1px 1px #000000;
    width: 100%;
}

#header .header-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    display: block;
    text-align: center;
}

#terminal {
    background: none;
    overflow-wrap: break-word;
    height: 100%;
    width: 100%;
}

#terminal .terminal-line {
    display: block;
    padding: 3px;
}

#terminal .terminal-line > h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#terminal #terminal-pointer {
    margin-top: 20px;
    font-weight: 600;
}

#terminal #terminal-pointer span {
    font-weight: 300;
}

#terminal .input {
    box-sizing: border-box;
    border: 0;
    background: #1e1e1e;
    color:#cac7c4;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    overflow: hidden;
    outline: 0;
    padding: 3px 0 3px 0;
    resize: none;
    width: 100%;
    font-weight: 300;
}

#terminal .input:focus {
    outline: none;
}