@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Sacramento&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background: linear-gradient(110deg, #0cf3c9 60%, #2b91cc 60%);
    color: #fff;
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100%;
    justify-content: center;
}

::selection {
    background: none;
}

.folio-box {
    width: 100%;
}

/* magic starts here */

#intro-head {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-head .folio-nav-inner {
    width: 100%;
    height: 100%;
}

#intro-head #nav-head {
    color: #fff;
    cursor: default;
    background: #444444;
    border-radius: 10px;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Sacramento", cursive;
    font-style: normal;
    font-size: 60pt;
    padding: 20px 20px 0 20px;
    z-index: 99;
}

#intro-head #nav-links {
    font-size: 30pt;
    height: 100%;
    width: 100%;
}

#intro-head .folio-links {
    color: #fff;
    background-color: #fff;
    display: inline-block;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px #000;
    transform: skewX(-25deg);
    transition: all 0.3s ease;
    vertical-align: middle;
    width: 25%;
}

#intro-head .folio-links:hover, #intro-head .folio-links:focus {
    animation: navroll 0.5s ease forwards;
}

#intro-head .folio-links .folio-link-content {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%) skewX(25deg);
    transition: all 0.3s ease;
    left: 0;
}

#intro-head .folio-links:hover>.folio-link-content, #intro-head .folio-links:focus>.folio-link-content {
    transform: translateY(-50%) skewX(25deg);
    left: 10px;
}

#intro-head .folio-links:hover>.folio-link-content:before, #intro-head .folio-links:focus>.folio-link-content:before {
    content: attr(data-icon) '\00a0';
    font-size: 25pt;
    background-size: 86px 60px;
    background-repeat: no-repeat;
    background-position: center;
}

#intro-head #nav-about {
    background: linear-gradient(0deg, #0056b8 50%, #004798 50%);
    background-size: 100% 200%;
    background-position: 50% 100%;
}

#intro-head #nav-project {
    background: linear-gradient(0deg, #38be7b 50%, #12a059 50%);
    background-size: 100% 200%;
    background-position: 50% 100%;
}

#intro-head #nav-work {
    background: linear-gradient(0deg, #dc5331 50%, rgb(213, 69, 33) 50%);
    background-size: 100% 200%;
    background-position: 50% 100%;
}

#intro-head #nav-contact {
    background: linear-gradient(0deg, #f9cf00 50%, #ceac00 50%);
    background-size: 100% 200%;
    background-position: 50% 100%;
}

/*
Containers
*/

.folio-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 100%;
    left: 0;
    background: linear-gradient(#373737, #202020);
    overflow-y: auto;
    transition: 0.5s;
}

.folio-container>h1, h2, h3, h4 {
    margin: 20px auto 20px auto;
    font-weight: 200;
}

.folio-container>strong {
    font-weight: 700;
}

.folio-container ::selection {
    background: white;
    color: black;
}

#container-close {
    background: #fff;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    transition: all 0.3s ease;
}

#container-close:hover {
    transform: scale(1.1) rotate(180deg);
}

#container-close img {
    height: 50px;
    width: 50px;
}

.about-div>h2, p {
    margin: 20px auto 20px auto;
}

.tags {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.tags li {
    list-style-type: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    margin: auto 10px;
    background: #c9d615;
    box-shadow: 2.5px 2.5px 1.5px #fff;
    color: #111;
}

/*
About Container
*/

#about-container #languages li {
    background: #c9d615;
    color: #111;
}

#about-container #technologies li {
    background: #1369af;
    color: #fff;
}

#about-container #frameworks li {
    background: #e22828;
    color: #fff;
}

#my-name {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #d6c911, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-animation: reveal 4000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 4000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@-webkit-keyframes reveal {
    80% {
        letter-spacing: 3px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@keyframes reveal {
    80% {
        letter-spacing: 3px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@-webkit-keyframes glow {
    40% {
        text-shadow: 0 0 2px #149cd1;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 2px #f366c4;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes navroll {
    0% {
        background-position: 50% 100%
    }

    100% {
        background-position: 50% 0%
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

code {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    color: #fff;
    padding: 0px 4px;
    border-radius: 2px;
    animation: gradient 15s ease infinite;
}

#hand-wave:hover {
    cursor: pointer;
    display: inline-block;
    animation: wave 1s ease infinite;
}

/*
Project Container
*/


#project-container details {
    overflow: hidden;
    /* Keep this line to prevent an odd blue outline around the element in Safari. */
}

#project-container summary {
    display: block;
}

#project-container summary::-webkit-details-marker {
    display: none;
}

#project-container span {
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    padding-left: 1rem;
    background: #444;
    color: #fff;
    height: 4rem;
    text-shadow: 1px 1px 1px #000;
}

#project-container span:hover {
    cursor: pointer;
}

#project-container span::before {
    content: "►";
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    transition: rotate 200ms 400ms ease-out;
}

#project-container div.project-content {
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    padding: 0 40px;
    border: 2px solid transparent;
    transition: max-height 300ms ease-out, border 0ms 100ms linear;
}

#project-container details[open]+div.project-content {
    max-height: 800px;
    /* Set a max-height value enough to show all the content */
    border-color: #888;
    padding: 10px 40px;
    transition: max-height 400ms ease-out, border 0ms linear;
}

#project-container details[open] span::before {
    rotate: 90deg;
    transition: rotate 200ms ease-out;
}

#project-container .project-href {
    color: #fff;
    background: #202020;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#project-container .project-href:hover {
    color: #202020;
    background: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}

#project-container #project-tags {
    padding: 20px 0;
}

/*------ Socials -------*/

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 120px;
    height: 120px;
    text-decoration: none;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.social-button::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus, .social-button:hover {
    color: #fff;
}

.social-button:focus::after, .social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button i {
    font-size: 50px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}

.social-button--mail {
    color: #0072c6;
}

.social-button--mail::after {
    background: #0072c6;
}

.social-button--twitter {
    color: #5f8ef3;
}

.social-button--twitter::after {
    background: #5f8ef3;
}

.social-button--linkedin {
    color: #0077b5;
}

.social-button--linkedin::after {
    background: #0077b5;
}

.social-button--github {
    color: #1a1e22;
}

.social-button--github::after {
    background: #1a1e22;
}

.social-button--codepen {
    color: #212121;
}

.social-button--codepen::after {
    background: #212121;
}

.social-button--steam {
    color: #7da10e;
}

.social-button--steam::after {
    background: #7da10e;
}

.social-button--stackoverflow {
    color: #d1b309;
}

.social-button--stackoverflow::after {
    background: #d1b309;
}

.social-button--twitter {
    color: #55acee;
}

.social-button--twitter::after {
    background: #55acee;
}

.social-button--instagram {
    color: #e4405f;
}

.social-button--instagram::after {
    background: #e4405f;
}

.social-button--npmjs {
    color: #c12127;
}

.social-button--npmjs::after {
    background: #c12127;
}